.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
 
.comments-title, .comment-reply-title {
	padding-bottom: 9px;
	margin: 40px 0 20px 0;
	border-bottom: 1px solid #eee;
}
 
ol.comment-list {
	list-style:none;
	padding-left: 0;
}
 
.comment-author .avatar {
	margin-right: 25px;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	padding: 4px;
}
 
.comment-meta {
	margin-top: 20px;
	margin-bottom: 20px;
}
 
.comment-details {
	overflow: hidden;
	zoom: 1;
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #ddd;
}
 
.comment-details .reply {
	margin-top: 10px;
}
 
.comment-date a {
	font-size: 11px;
	color: #777;
	margin-right: 10px;
}
 
#commentform #comment {
	width: 100% !important;
}
 
#commentform #submit {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
 
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
 
#commentform #submit:hover{
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}
